@tailwind base;
@tailwind components;
@import "./fonts.css";
@tailwind utilities;



input,
textarea {
  background-color: #252526;
  border: 2px solid #2d2d30;
}


body {
  background-color: #1e1e1e;
  color: white;
}